<script src="https://unpkg.com/@antonz/codapi/dist/snippet.js" defer></script>
<link rel="stylesheet" href="https://unpkg.com/@antonz/codapi/dist/snippet.css">
<style>
  codapi-snippet {
    --codapi-output-bg: var(--color-neutral-100);
  }
  .dark codapi-snippet {
    --codapi-output-bg: var(--color-neutral-800);
  }
  codapi-output {
    background: var(--codapi-output-bg);
    border-radius: 0.375rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .highlight pre {
    max-height: 25rem;
    overflow-y: auto;
  }
</style>
